@font-face {
    font-family: "fira-sans-medium";
    src: url("./fonts/FiraSans-Medium.ttf");
}

@font-face {
    font-family: "fira-sans-light";
    src: url("./fonts/FiraSans-Light.ttf");
}

.center-align {
    text-align: center;
}

.font-light {
    font-family: "fira-sans-light";
}

#jbbtn {
    -webkit-appearance: none;
    appearance: button;
    background-color: #FF0000; /* customize the button color to fit your design */
    color: #333; /* customize the text color to fit your design */
    border-radius: 10px; /* customize the border radius to fit your design */
    border: none; /* remove the default button border */
    padding: 8px 16px; /* customize the button padding to fit your design */
    font-size: 20px; /* customize the font size to fit your design */
  }
  

body {
    font-family: "fira-sans-medium";
    background-color: #beb6b2; /* customize the button color to fit your design */
}

#footnote {
    font-size: small;
}

#ra1nm8t {
    font-size: 50px;
}